.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.welcome-text {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.info-text {
  margin-top: 1rem;
  color: rgb(107, 114, 128);
}
.info-text > code {
  color: rgb(59, 130, 246);
  background-color: rgb(219, 234, 254);
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1px;
  padding-bottom: 1px;
}

.card {
  box-shadow: 0 7px 10px 0 rgba(20, 118, 131, 0.2);
  max-width: 400px;
  margin: 5px;
  text-align: center;
  padding: auto auto auto auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.event-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(38, 76, 159);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 12px;
}

.griditem {
  border: 1px rgba(10, 51, 49, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.center {
  text-align: center;
}